include LICENSE
include README.md
include CHANGELOG.md
recursive-include djquark_workers/templates *
recursive-include djquark_workers/static *
recursive-include djquark_workers/migrations *.py
global-exclude *.pyc
global-exclude __pycache__

